.comment-modal {
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments-list{
    max-height: 300px;
    overflow-y: scroll;
}

.comment-item{
    display: flex;
    gap: var(--spacing-xsmall);
}

.comment-input-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0;
    background-color: #1c1c1c;
    border-radius: var(--radius-large);
}

.comment-input {
    flex: 1;
    padding: 0.6rem 1rem;
    font-size: var(--font-size-xxsmall);
    border: none;
    background-color: transparent;
    color: var(--secondary-color);

}

.comment-input:focus {
    outline: none;
}

.comment-send-icon {
    background-color: var(--secondary-color);
    border: none;
    border-radius: var(--radius-regular);
    display: flex;
    align-items: center;
    justify-content: center;
}

