.post-card{
    height: auto;
    width: 80%;
    font-size: var(--font-size-xxsmall);
    display: flex;
    gap: var(--radius-regular);
}
.details-container{
    display: flex;
    flex-direction: column;
    gap: var(--radius-regular);
}
.user-avatar-icon{
    position: relative;
}
.user-info-container{
    display: flex;
    gap: var(--radius-small);
    align-items: center;
    padding-top: 1rem;

}
.user-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
}
.post-date{
    color: #777777;
}
.post-image{
    height: 50%;
    width: 80%;
}
.actions-container{
    display: flex;
    height: 50px;
    width: 60%;
    gap: var(--radius-regular);
}
.actions-box{
    display: flex;
    align-items: center;
    gap: var(--radius-xsmall);
}
.divider{
    height: 2px;
    width: 90%;
    background-color:  var(--secondary-color);
}