:root{
    /* Colors */
    --primary-color: #121212;
    --secondary-color: #E0E0E0;
    --special-color: #181818;

    /* Font sizes */
    --font-size-xsmall: 1.1rem;
    --font-size-small: 1.25rem ;
    --font-size-regular: 1.5rem;
    --font-size-xlarge: 1.75rem;

    /* spacing */
    --spacing-xsmall: 4px;
    --spacing-regular: 6px;
    --spacing-large: 8px;
}